@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: #f3f2f2;
    overflow-x: hidden; /* Avoid horizontal scroll */
    overflow-y: auto; /* Allow vertical scroll */
}

.palabras {
    color: rgb(106, 103, 98);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    border: 0.1em solid rgba(126, 120, 120, 0.2); /* Updated to em */
    backdrop-filter: blur(0.1em); /* Updated to em */
    -webkit-backdrop-filter: blur(0.3em); /* Updated to em */
    box-shadow: 0.11em rgba(80, 78, 78, 0.2); /* Updated to em */
    padding: 0.40em; /* Updated to em */
    margin: 0.2em; /* Updated to em */
    border-radius: 0.5em; /* Updated to em */
    position: fixed;
    top: 2em; /* Updated to em */
    left: 16em; /* Updated to em */
    z-index: 2;
    animation: fade-in 1s ease-in-out;
}

.palabras span {
    position: relative;
    display: inline-block;
    margin-right: 1em; /* Updated to em */
    text-align: center;
    align-items: center;
}

.block {
    display: flex;
    color: #363030;
    position: relative;
    top: 7em;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:#ffff;
    height: 75px;
    font-size: 0.80em;
}

#flecha-left{
    margin-right: 3em;
    font-size: 1.9em;
}
#flecha-rigth{
    margin-left: 3em;
    font-size: 1.9em;
}

.palabras-grades{
    position: relative;
    top: 13em;
    font-size: 1.3em;
    margin-left: 11em;
    margin-top: -5.5em;

}

.palabra-store{
    color: #0c0b0b;
}

.the-best{
    color: #666363;
}

.empleadito{
    position: relative;
    top: 10em;
    left: 65em;
}

.need-help{
    font-size: 1em;
    position: relative;
    top: -1.33em;
}

.ask-link{
    position: relative;
    left: 2.5em;
    text-decoration: none;
    color: rgb(16, 108, 170);
}